<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input 
                ngModel
                matInput 
                name="email"
                type="email" 
                required
                email
                #emailInput="ngModel"
                placeholder="E-Mail">
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email!</mat-error>
        </mat-form-field>

        <mat-form-field>
                <input 
                    ngModel 
                    matInput
                    name="password"
                    type="password"
                    required
                    #passwordInput="ngModel" 
                    placeholder="Password">
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password!</mat-error>
        </mat-form-field>
        <button
            color="accent" 
            mat-raised-button type="submit">Login</button>
    </form>
</mat-card>
